aseprite
autostart
background
blender
btop
caelestia
cava
dconf
discord
Discord
dolphinrc
Electron
electron-builder.json
figma-linux
fish
fontconfig
gh
# ghostty
glib-2.0
go
godot
gtk-3.0
gtk-4.0
gwe
# helix
heroic
htop
# hypr
# hyprpanel
kde.org
kitty
kritadisplayrc
kritarc
lazygit
legcord
legendary
libreoffice
matplotlib
menus
mimeapps.list
mpv
nautilus
nextjs-nodejs
# nushell
obsidian
OpenTabletDriver
procps
pulse
QtProject.conf
quickshell
rivalcfg
# rofi
rpcs3
session
simple-update-notifier
smassh
spotify
superfile
systemd
user-dirs.dirs
user-dirs.locale
uwsm
Vencord
vesktop
via-nativia
wal
waybar
yay
zellij
jo
obs-studio
